*{
    padding: 0px;
    margin: 0px;
    font-family: "Prata", serif;

}

.bb{
    background-color: black;
}

nav{
    color: #777;
     background-color: black;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.nav1{
    font-size: 200%;
}

.nav2{
width: 50%;
display: flex;
}

.nav3{
    background-color: yellow;
    color: black;
    text-align: center;
    border: none;
    border-radius: 1px;
    padding: 15px 40px;
    margin-right: 60px;
    margin-top: 40px;
    font-size: larger;
    margin: 20px;
        width: 200px;
        height: 45px;
        padding-right: 40px;
}

li{
    margin: 20px;
}

h1{
    color: white;
    font-family: "Prata", serif;
}

.clear{
    clear: both;
    }

li{
list-style-type: none;
color: #777;
}

ul{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button2{
    background-color: yellow;
    color: black;
    text-align: center;
    border: none;
    border-radius: 1px;
    padding: 15px 40px;
    margin-left: 50px;
    margin-bottom: 200px;
    font-size: larger;
}

.pic{
    width: 15%;
    height: auto;
}

.big{
    font-size: 80px;

}

.c11{
    width: 50%;
    height: auto;
}

.pad{
    padding: 20px;
}

.ooo{
    display: flex;
    justify-content: center;
}

.gray_div{
    background-color: #444;
    height: 250px;
    width: 100%;
}

p{
color: #777;
}

.gray_p{
    color: #aaa;
}

.logo{
    width: 5%;
    height: auto;
}

.gray_div2{
    background-color: #777;
    padding: 0px;
    height: 120px;
    width: 100%;
}





